<% layout('layout/main') -%>
<%- stylesheet('/stylesheets/blog-post.css') %>
<%- script('/javascripts/comments.js') %>

<div class="row">
    <div class="col-lg-1"></div>
    <!-- Blog Post Content Column -->
    <div class="col-lg-10">

        <!-- Blog Post -->

        <!-- Title -->
        <h1><%= post.title %></h1>

        <!-- Author -->
        <p class="lead">
            Автор <a href="#"><%= post.author.name %></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> <%= post.createdAt %></p>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive" src="<%= post.imageURL %>" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">
        <% post.description.split("\n").forEach(function(paragraph) { %>
            <p class="lead"><%= paragraph %></p>
        <% }); %>
        </p>

        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->
        <div class="well">
            <h4>Оставить комментарий:</h4>
            <form role="form" method = "post" id="commentForm">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name = "comment"></textarea>
                </div>
            </form>
            <button id = "sendCommentButton" class="btn btn-primary">Отправить</button>
        </div>

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->
        <% post.comments.forEach(function(comment) { %>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><%= comment.user %>
                    <small><%= comment.createdAt %></small>
                </h4>
                <%= comment.text %>
            </div>
        </div>
        <% }); %>
    </div>
    <div class="col-lg-1"></div>
</div>